{% extends "base.html" %}

{% block title %}
Book Management App
{% endblock %}

{% block content %}
<div class="container my-5">
  <form method="post" action="/books">
    <div class="form-group col">
      <label for="title"><strong>Title:</strong></label>
      <input type="text" class="form-control" id="title" aria-describedby="bookTitle" placeholder="Enter Book Title" name="title">
      <small id="emailHelp" class="form-text text-muted">Enter Book Title.</small>
    </div>
    <div class="form-group col">
      <label for="author"><strong>Author:</strong></label>
      <input type="text" class="form-control" id="author" aria-describedby="bookAuthor" placeholder="Enter Author Name" name="author">
      <small id="emailHelp" class="form-text text-muted">Enter Book Author Name.</small>
    </div>
    <div class="form-group col">
      <label for="description"><strong>Description of Book:</strong></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" id="description" name="description"></textarea><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div> 
  {% endblock %}