{% extends "base.html" %}

{% block title %}
Book Management App
{% endblock %}

{% block content %}
<div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
        <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
      </svg>          <h1 class="text-body-emphasis">Welcome to the Book Management App</h1>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    This is a book management App. You can add all your books here.
  </p>
  <div class="d-inline-flex gap-2 mb-5">
    <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" onclick="window.location.href='/create_book';">
        Create a book
    </button>
    <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button" onclick="window.location.href='/books';">
        List books
    </button>
  </div>
</div>
</div>
{% endblock %}
